/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Chat Bubble Shape Extension */
.rounded-chat {
  border-radius: 1.5rem;
}

/* Ensure images/videos inside messages don't break the layout */
.select-text {
  user-select: text;
  word-break: break-word;
}